*{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.content{
    width: 800px;
    height: 693px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: #80c9fd;
    padding: 8px;
}
/* 消息显示 */
.message-display{
    width: 100%;
    height: 70%;
    background-color: #fefefe;
    border-radius: 10px;
    overflow-y:scroll;
    overflow-x:hidden;

}
.message-display::-webkit-scrollbar{
    width:5px;
}
.message-display::-webkit-scrollbar-track{
    border-radius: 10px;
	background-color:transparent;
}
.message-display::-webkit-scrollbar-thumb{
    border-radius: 10px;
	background-color:#80c9fd;
}
.message-display>div{
    overflow: hidden;
}
.message-display>div>p{
    white-space:normal;
    word-break:break-all;
}
/* 消息泡左边 */
.message-pao-l{
    float: left;
    font-size: 18px; 
    background-color: pink;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.message-pao-l::before{
    content: '';
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-right: 9px solid pink;
    position: absolute;
    top: 50%;
    left: -18px;
    margin-top: -9px;
}
/* 消息泡右边 */
.message-pao-r{
    float: right;
    font-size: 18px; 
    background-color: pink;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.message-pao-r::before{
    content: '';
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-left: 9px solid pink;
    position: absolute;
    top: 50%;
    right: -18px;
    margin-top: -9px;
}
/* 消息发送 */
.message-sending{
    position: relative;
}
.sending-content{
    width: 100%;
    height: 150px;
    margin: 10px 0;
}
.sending-content>textarea{
    width: 100%;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fefefe;
    border-radius: 10px;
    outline:none;
    resize: none;
    font-size: 18px;
    white-space: normal;
}  
button{
    outline:none;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: thistle;
    float: right;
    cursor: pointer;
}
.active{
    background:indianred;
    color:white;
}
.message-sending>span{
    position: absolute;
    bottom: -36px;
    right: 110px;
    color: red;
    display: none;
}
